
<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.8.0/p5.js"></script>
      </head>
      <main id="canvas"></main> 
    <div class="body">
        <h1><%= title %></h1>
        <div class="content">
            <a href="/new"><button>Whats on your mind?</button></a>
            <ul>
                <% if (messages.length > 0) {%>
                <% messages.map((message, index)=> { %>

                    <li class="message" data-ip="<%= message.ip%>">
                        <div class="message-user" date-time="<%= message.date_time.toLocaleString() %>">
                            <%= message.submitted_by %>:
                        </div>
                        <div>
                            "<%= message.message %>"
                        </div>
                        <div class="date-time" style="display:none">
                            Submitted on: <%= message.date_time.toLocaleString() %>
                        </div>
                    </li>
                    <% }) %>
                <script>
                    document.createElement('div')
                    document.querySelectorAll('.message')
                            .forEach(message => {
                                let toggled = false;
                                message.addEventListener('click', (e)=>{
                                    
                                    console.log(message)
                                    if(toggled == false){
                                        toggled = true;
                                        message.querySelector('.date-time').style = 'display: inline;'
                                    }else{
                                        toggled = false;
                                        message.querySelector('.date-time').style = 'display: none;'
                                    }
                                })
                            })
                </script>
                <% } %>
                </ul>

        </div>
    </div>
    <script src="/sketch.js" defer></script>
</html>