
<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.8.0/p5.js"></script>
      </head>
      <main id="canvas"></main> 
    <div class="body">
        <h1><%= title %></h1>
        <div class="content">
            <a href="/new"><button>Whats on your mind?</button></a>
            <ul>
                <% messages.map((message, index)=> { %>

                    <li class="message" data-ip="<%= message.ip%>">
                        <div class="message-user"><%= message.user %>:</div>
                        <div class="message-text">"<%= message.text %>"</div>
                        <div class="message-time"><%= message.added.toLocaleString() %></div>
                    </li>
                    <% }) %>
                <script>
                    document.createElement('div')
                    document.querySelectorAll('.message')
                            .forEach(message => {
                                let toggled = false;
                                message.addEventListener('click', ()=>{
                                    
                                    if(toggled== false){
                                        toggled = true;
                                        let div = document.createElement('div');
                                        div.setAttribute('id', 'info')
                                        div.textContent = 'Sent from IP: ' + message.getAttribute('data-ip')
                                        message.appendChild(div)
                                    }else{
                                        toggled = false;
                                        let div = message.querySelector('#info')
                                        message.removeChild(div)
                                    }
                                })
                            })
                </script>
                </ul>

        </div>
    </div>
    <script src="/sketch.js" defer></script>
</html>